* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3eeee;
  color: #000000;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

#navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: auto;
  white-space: nowrap;
}

#navbar #logo img {
  height: 100px;
  width: auto;
  margin-right: 30px;
  display: block;
  user-select: none;
  pointer-events: none;
}

#navbar #moto img {
  height: 100px;
  width: auto;
  margin-left: 30px;
  display: block;
  user-select: none;
  pointer-events: none;
}

.navbar-biasa a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  transition: color 0.3s ease;
  border-radius: 8px;
}

.navbar-biasa a:hover {
  color: #fff;
}

.navbar-biasa a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4bde38;
  border-radius: 8px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar-biasa a:hover::before {
  opacity: 1;
}

.content {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}

.contactUs-dalam {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin-top: 60px;
}

.contactUs-dalam h2 {
  margin-bottom: 0px;
}

.contactUs-dalam h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.isidalam {
  font-weight: 500;
  font-size: 17px;
}

<<<<<<< HEAD
i{
    color: rgb(90, 113, 134);
}
=======
i {
  color: rgb(90, 113, 134);
}

/* Footer */
footer {
  background-color: #7a9be2;
  color: #fff;
  padding: 25px 0;
  margin-top: 80px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  width: 150px;
}

.footer-links h4,
.company-info h4,
.call-us h4 {
  font-size: 1em;
  margin-bottom: 4px;
  color: #ffffff;
  margin-left: 100px;
}

.company-info h5 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-links ul li {
  margin-bottom: 15px;
  margin-left: 100px;
}

.company-info p {
  margin-bottom: 15px;
  /* margin-left: 100px; */
}

.footer-links ul li a,
.footer-bottom a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  /* display: flex; */
  /* margin-left: 100px; */
}

.footer-links ul li a:hover,
.footer-bottom a:hover {
  color: #000;
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 0px;
  color: #fff;
}

.footer-bottom p {
  margin: 0px 0;
  font-size: 0.9em;
}

.footer-bottom a {
  font-weight: bold;
  text-decoration: none;
}

.call-icons {
  display: flex;
  gap: 10px;
}

.call-icons img {
  width: 30px;
}

.call-us h4 {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 20px;
}

.call-us img {
  width: 30px;
}
>>>>>>> cb0a964e2ac6523a1ab318e3e93ac125d5930cec
