
/* Footer */
footer {
    background-color: #7a9be2;
    color: #fff;
    padding: 40px 0;
    margin-top: 100px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo {
    width: 150px;
  }
  
  .footer-links h4,
  .company-info h4,
  .call-us h4 {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .company-info h5 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .footer-links ul li,
  .company-info p {
    margin-bottom: 15px;
  }
  
  .footer-links ul li a,
  .footer-bottom a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links ul li a:hover,
  .footer-bottom a:hover {
    color: #000;
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    color: #fff;
  }
  
  .footer-bottom p {
    margin: 5px 0;
    font-size: 0.9em;
  }
  
  .footer-bottom a {
    font-weight: bold;
    text-decoration: none;
  }
  
  .call-icons {
    display: flex;
    gap: 10px;
    
  }
  
  .call-icons a{
    color: white  ;
  }

  .call-icons img {
    width: 30px;
  }
  
  .call-us h4 {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .call-us img {
    width: 30px;
  }
  
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .appear {
    opacity: 1;
    transform: translateY(0);
  }
  
  .banner {
    margin-top: 60px;
    text-align: center;
  }
  
  .banner img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
  }