* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f3eeee;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  height: 100%;
}

#navbar-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#navbar-main #logo img {
  height: 92px;
  width: auto;
  margin-right: 30px;
  display: block;
  user-select: none;
  pointer-events: none;
}

#navbar-main #moto img {
  height: 100px;
  width: auto;
  margin-left: 30px;
  display: block;
  user-select: none;
  pointer-events: none;
}

.navbar-biasa a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  transition: color 0.3s ease;
  border-radius: 8px;
}

.navbar-biasa a:hover {
  color: #fff;
}

.navbar-biasa a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4BDE38;
  border-radius: 8px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar-biasa a:hover::before{
  opacity: 1;
}

/* NAVBAR HEALTH BENEFITS */
.navbar-data{
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #ddd; 
  padding-top: 20px;
  display: flex;
  flex-direction: column; 
}

.navbar-data a{
  padding: 15px;
  text-decoration: none;
  font-size: 16;
  margin: 1px 0px;
  color: black;
  transition: background-color 0.3s, color 0.3s ;
}

.navbar-data a:hover{
  background-color: #4BDE38;
  color: #ffffff;
}

.posisi{
  display: flex;
  flex-direction: row;
}

.image img{
  height: 300px;
  width: 400px;
  /* margin-left: 200px; */
  /* object-fit: cover; */
  margin-right: 25px;
  border-radius: 10px;
}

.isi{
  margin-top: 100px;
  margin-left: 250px;
  padding: 20px;
}

.data-ada-img,
.data-no-img{
  padding: 20px;
  margin-bottom: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;background-color: #fff;
  text-align: justify;
}

p, h3,
ul li {
  color: #626962;
}

.data-no-img ul li{
  margin: 0 15px;
}
