* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f3eeee;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
}

#navbar-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: auto;
  white-space: nowrap;
}

#navbar-main #logo img {
  height: 100px;
  width: auto;
  margin-right: 30px;
  display: block;
  user-select: none;
  pointer-events: none;
}

#navbar-main #moto img {
  height: 100px;
  width: auto;
  margin-left: 30px;
  display: block;
  user-select: none;
  pointer-events: none;
}

.navbar-biasa a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  transition: color 0.3s ease;
  border-radius: 8px;
}

.navbar-biasa a:hover {
  color: #fff;
}

.navbar-biasa a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4bde38;
  border-radius: 8px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar-biasa a:hover::before {
  opacity: 1;
}

#navbar-data {
  background: #f3eeee;
  box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 60px;
  left: 0;
  width: 180px;
  height: 100%;
  padding-top: 8px;
  overflow-y: auto;
}

#navbar-data ul {
  list-style: none;
  padding: 0;
}

#navbar-data ul li {
  margin: 10px 0;
}

#navbar-data ul li a {
  display: block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

#navbar-data ul li a:hover {
  background-color: #4bde38;
  color: #fff;
}

#kesehatan {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding-top: 100px;
  min-height: 100vh;
}

#kesehatan h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.kotak {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data {
  display: flex;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s;
  width: 100%;
  max-width: 1000px;
  margin: 20 auto;
  /* margin-bottom: 5px; */
}

.data:hover {
  transform: scale(1.02);
}

.teks {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.no-img {
  flex-direction: column;
  align-items: flex-start;
}

.no-img li {
  color: #5f5d5d;
  margin-left: 20px;
  font-size: 14px;
  text-align: justify;
}

.data img {
  width: 400px;
  height: 300px;
  margin-right: 20px;
  border-radius: 10px;
  /* object-fit: cover; */
}

.data h3 {
  font-size: 16px;
}

.no-img h4 {
  font-size: 30px;
}

.no-img p {
  font-size: 15px;
}

.data p {
  color: #5f5d5d;
  max-width: 9000px;
  text-align: justify;
}
