@font-face {
  font-family: 'BrightDEMO';
  src: url('../assets/fonts/Bright DEMO.otf') format(truetype);
}

@font-face {
  font-family: 'Rafgins';
  src: url('../assets/fonts/Rafgins-Regular.ttf') format(truetype);
}

@font-face {
  font-family: 'Cafe';
  src: url('../assets/fonts/Louis George Cafe.ttf') format(truetype);
}

@font-face {
  font-family: 'Market';
  src: url('../assets/fonts/Market_Deco.ttf') format(truetype);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffff;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TRENDY SHOES */

#hero {
  background-image: url("../assets/images/trendy/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vw * 43 / 100);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}

#hero h1,h2 {
  text-align: left;
  font-size: 2em;
  margin-bottom: 0px;
  line-height: 1.0;
}

#hero h1 {
  color: #fff;
  font-family: 'Rafgins', sans-serif;
  font-size: 5em;
  letter-spacing: 4px;
}

#hero h2 {
  color: #339926;
  font-family: 'BrightDEMO', sans-serif;
  font-size: 3.3em;
  letter-spacing: 2px;
}

#hero p {
  color: #000;
  font-family: 'Cafe', sans-serif;
  font-size: 18px;
}

.shoe-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px 20px;
}

.shoe-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 25px;
  border-radius: 50px;
  box-shadow: 5px 3px 5px rgb(0,0,0, 0.5), -5px 0px 5px rgb(0,0,0, 0.5);
}

.left-section {
  display: flex;
  justify-content: flex-start;
}

.portrait-img {
  margin-left: 50px;
  width: 270px;
  height: auto;
  border-radius: 50px;
  min-width: 225px;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}

.right-section h3 {
  border-radius: 10px;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  font-family: 'Cafe', sans-serif;
  font-size: 40px;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.rating-text {
  font-size: 20px;
}

.rating-icon img {
  width: 1em;
  height: auto;
  padding-left: 5px;
  padding-bottom: 2px;
  vertical-align: middle;
}

.shoe-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 50px;
}

.shoe-images img {
  width: 38%;
  height: auto;
}

.description {
  font-size: 18px;
  width: 80%;
  margin-bottom: 30px;
}

.disclaimer {
  text-align: center;
  color: rgb(94, 93, 93);
  padding-bottom: 25px;
  font-size: 12px;
}

@media (max-width: 768px){
  .shoe-layout{
    flex-direction: column;
  }

  .shoe-images{
    gap: 0;
  }
}