* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f3eeee;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  height: 100%;
}

/* TIPS AND WORKOUT */

.left-navbar {
  position: fixed;
  top: 100px;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.left-navbar a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 12px;
  color: #000;
  margin: 10px 0;
  transition: background-color 0.3s, color 0.3s;
}

.left-navbar a:hover {
  background-color: #4bde38;
  color: white;
}

.grids {
  display: flex;
  flex-direction: row;
}

.image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 10px;
}

.content-container {
  margin-top: 40px;
  margin-left: 220px;
  padding: 20px;
}

.content-container h2 {
  text-align: center;
}

.content-container p,
li {
  font-size: 12px;
}

.workout-section {
  padding: 20px;
  margin-bottom: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
}
