* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #000;
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 0 0 8px 8px;
}

#navbar a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
  transition: color 0.3s ease;
}

#navbar a:hover {
  color: #ff3333;
}

#navbar span {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 100%;
  background: linear-gradient(45deg, #4f1919, #ff3333);
  border-radius: 8px;
  transition: 0.5s;
}
.content {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
}
